.idea/
.vscode/
node_modules/
build/
tmp/
temp/

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store

# Ignore built ts files
dist/

# AWS 
# ecs-task-definition.json